*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header_container--logo{
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 30.52px;
    letter-spacing: 0.03em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.color{
    color: #2196f3
}

.header_container--nav a {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    letter-spacing: 0.02em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    text-decoration: none;
    color: #757575;

}

.header_container--nav a:hover {
    color: #2196f3
}

.header_content a:hover {
    color: #2196f3
}

.flex {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    background-color: #2f303a;
}

.flex_title {
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

.flex_button {
    background-color: #2196f3;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 10px 32px;
    border: none;
    cursor: pointer;
    border: none;
    cursor: pointer;
    margin-bottom: 210px;
}